Repository xieyx/genbor-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix, npx stylelint --fix

:rocket: chore(deps): stylelint
  package.json
Due: npx prettier --write

:recycle: refactor(other): filename to lowercase
  resources/js/Pages/Demo.ts
  resources/js/Pages/Demo.tsx
Due: npx prettier --write, npx eslint --fix

:rocket: chore(deps): with ts
  package.json
  pnpm-lock.yaml
  resources/js/app.jsx
  resources/js/app.tsx
  resources/js/bootstrap.ts
  resources/js/pages/demo.tsx
  resources/js/types/demo.ts
  resources/js/types/global.d.ts
  resources/views/app.blade.php
  routes/web.php
  tsconfig.json
  vite.config.js
Due: npx prettier --write, npx eslint --fix

:lipstick: style: update tailwindcss config
  .prettierrc.cjs
  package.json
  pnpm-lock.yaml
  resources/js/app.tsx
  resources/js/pages/demo.tsx
  tailwind.config.js
Due: npx prettier --write, npx eslint --fix

Create LICENSE
  LICENSE
Due: none

:lipstick: style(styles): tailwindcss config
  resources/css/app.css
  resources/js/pages/demo.tsx
Due: npx prettier --write, npx eslint --fix, npx stylelint --fix

[CodeFactor] Apply fixes
  postcss.config.js
  resources/js/app.tsx
  resources/js/bootstrap.ts
  resources/js/pages/demo.tsx
  vite.config.js
Due: npx prettier --write, npx eslint --fix

:lipstick: style(styles): prettier config
  .editorconfig
  .stylelintrc.cjs
  prettier.config.js
  resources/css/app.css
Due: npx prettier --write, npx eslint --fix, npx stylelint --fix

:rocket: chore: vercel
  vercel.json
Due: npx prettier --write

:rocket: chore: vercel
  api
  vercel.json
Due: npx prettier --write

:rocket: chore: vercel
  dist/.gitignore
Due: none

:rocket: chore: vercel
  .vercelignore
  api
  api/index.php
  vercel.json
Due: npx prettier --write

:rocket: chore: vercel
  app/Providers/AppServiceProvider.php
Due: none

:rocket: chore: vercel
  dist/.gitignore
  vercel.json
Due: npx prettier --write

Path conditions:
  npx prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,less,scss})) or (any of: *.{json,md})
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,less,scss}
